@{
    ViewBag.Title = "Error";
}

@ViewBag.Message

<div style="background-color: #A52A2A; color: black; height: 10px;">
</div>
<div style="background-color: #F5F5DC; color: black; height: 170px;">
    <div style=" padding:20px;">
        <h3>
            Application Error:
        </h3>
        <h4>
            Ups, coś poszło nie tak...,
        </h4>
        <div>
            <a href="" class="go_back"> Back </a>
        </div>
        <br />
        <br />
    </div>
</div>
<div style="background-color: #A52A2A; color: White; height: 20px;">
</div>
