@{
    ViewBag.Title = "NotFounded";
}

<div style="background-color: #A52A2A; color: black; height: 10px;">
</div>
<div style="background-color: #F5F5DC; color: black; height: 170px;">
    <div style=" padding:20px;">
        <h3>
            Application Error:
        </h3>
        <h4>
            Nie znaleziono strony.
        </h4>

        @*<img src="https://cdn.pixabay.com/photo/2019/05/04/15/38/cat-4178329_960_720.jpg"
               alt="NotFoundedCat" width="150" height="150">*@


        <div>
            <a href="" class="go_back"> Back </a>
        </div>
        <br />
        <br />
    </div>
</div>
<div style="background-color: #A52A2A; color: White; height: 20px;">
</div>
